*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    max-width: 600px;
    background-color: grey;
    padding: 50px;
    margin: 50px auto;
}
.input-sec{
    display: flex;
    gap: 5px;
}
.input-sec input{
    /* width: 100%; */
    flex: 1;
    font-size: 20px;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: none;
}
.input-sec input::placeholder{
    text-align: center;
}
.input-sec button{
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
}
.main .container-body{
    padding: 20px;
    border: solid;
    margin-top: 10px;
    border-radius: 10px;
    height: 350px;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}
.container-body::-webkit-scrollbar{
    width: 10px;
    border-radius: 20px;
    background-color: black;
}
.container-body::-webkit-scrollbar-thumb{
    background-color:#ddd;
    border-radius: 20px;
}
.main .container-body li{
    width:200px;
    /* text-wrap: wrap; */
    display: inline-block;
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    padding: 10px 0;
    background-color: red;
}
.main .container-body .deleBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}