
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed&family=Sevillana&display=swap');

:root{
    --font-cursive:"Sevillana", cursive;
    --font-roboto:"Roboto Condensed", sans-serif;
    --font-great:"Great Vibes", cursive;
/* ======================================================= */
    --f10:10px;
    --f14:14px;
    --f15:15px;
    --f16:16px;
    --f18:18px;
    --f20:20px;
    --f25:25px;
    --f30:30px;
    --f35:35px;
    --f40:40px;
    --f50:50px;
    --f80:80px;
    --f100:100px;
    --p160:160px;
    /* ========================================================== */
    --p5:5px;
    --p10:10px;
    --p15:15px;
    --p20:20px;
    --p30:30px;
    --p40:40px;
    --p50:50px;
    --p80:80px;
    --p100:100px;
    --p150:150px;
    
    /* ===================================================== */
    --black:black;
    --white:white;
    --salmon:salmon;
    --light:rgba(219, 219, 229, 0.439);
    --grey:grey;
    --lightgrey:rgba(185, 180, 180, 0.404);
    --lightblue:rgb(37, 37, 223);
    --lightseagreen:lightseagreen;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height:100vh;
    font-family: var(--font-roboto);
    overflow-x: hidden;
}
.header .navbar{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    box-shadow: var(--p10) 0 var(--p10) rgba(128, 128, 128, 0.2);
    position:fixed;
    z-index: 100;
    background-color: var(--white);   
}
h1,h2,h3,h4{
    font-family: var(--font-great);
    font-weight: 500;
}
a{
    text-decoration: none;
}
.header .navbar .nav-right ul a{
    text-decoration: none;
    color: var(--black);
    font-size: var(--f16);
    transition: 0.3s ease-in-out;
}
.header .navbar .nav-right{
    display: flex;
    align-items: center;
}
.header .navbar .nav-right ul{
    display: flex;
    gap:var(--p30);
    list-style: none;
}
.header .navbar .nav-right ul a i{
    font-size: var(--f10);
}
.header .navbar .nav-left{
    font-size: var(--f30);
    font-weight: 500;
    display: flex;
    align-items: center;
}
.header .navbar .nav-right form input{
    font-size: var(--f14);
    padding: var(--p10) var(--p20);
    border-top-left-radius:var(--p40);
    border-bottom-left-radius:var(--p40);
    border: 1px solid var(--lightgrey);
    margin: var(--p20) 0 var(--p20) var(--p20);
    outline: none;
}
.header .navbar .nav-right form button{
    font-size: var(--f14);
    color:var(--white);
    padding: var(--p10);
    border: none;
    border-top-right-radius:var(--p30);
    border-bottom-right-radius:var(--p30);
    background-color: var(--lightblue);
    margin-left: -5px;
}
.header .navbar .nav-right .moon i{
    font-size: var(--f30);
    transform: rotate(-10deg);
    margin-left: var(--p20);
}
.setting{
    display: none;
}
.header .navbar .nav-right ul .active,.header .navbar .nav-right ul a:hover{
    color: var(--lightblue);
}
/* =======================header-colse======================= */
.main-sec{
    width: 400vw;
    display: flex;
    animation: slider-head 20s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 2s;
    scroll-behavior: smooth;
}
.main{
    background: url(imgs/banner1.jpg);
}
.main2{
    background: url(imgs/banner2.jpg);
}
.main3{
    background: url(imgs/banner3.jpg);
}
.main4{
    background: url(imgs/banner4.jpg);
}
@keyframes slider-head {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100vw);
    }
    40%{
        transform:translateX(-100vw);
    }
    50%{
        transform: translateX(-200vw);
    }
    70%{
        transform: translateX(-200vw);
    }
    80%{
        transform: translateX(-300vw);
    }
    90%{
        transform: translateX(-300vw);
    }
    100%{
        transform: translateX(0);
    }
}
.main, .main2, .main3, .main4{
    width: 100vw;
    height:  calc(100vh - 78.400px);
    margin-top: 78.400px;
    background-position:center;
    background-size: cover;
}
.main-heading{
    height: inherit;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding:var(--p150);
}
.main-heading h1{
    font-size:var(--f80);
}
.main-heading p{
    font-size: var(--f20);
}
.main-heading a{
    width:170px;
    color: white;
    font-size: var(--f18);
    padding: var(--p15) 0;
    margin: var(--p50) 0;
    border-radius: var(--p30);
    text-align: center;
    background-color:rgba(48, 48, 234, 0.767);
    font-weight: bold;
    transition: 0.5s ease-in-out;
    border: 1px solid var(--lightblue);
}

/* ==========================form-section============ */
.form-sec{
    width: 100%;
    padding: var(--p80) var(--p20);
}
.form-sec .form-tour{
    width: 80%;
    display: grid;
    margin:0 auto;
    padding: var(--p50);
    grid-template-columns: repeat(5,1fr);
    box-shadow: 0 10px 20px 1px rgba(128, 128, 128, 0.1);
}
.form-sec .form-tour .input-sec{
    display: flex;
    flex-direction: column;
    gap: var(--p10);
}
.form-sec .form-tour .input-sec label{
    font-size: var(--f16);
    font-weight: 800;
}
.form-sec .form-tour .input-sec input,select{
    width: 90%;
    font-size: var(--f14);
    height:var(--p50);
    border-radius: var(--p30);
    padding: var(--p10) var(--p20);
    border: none;
    outline: none;
    background-color:var(--light);
    appearance: none;
}
.form-sec .form-tour .find-btn{
    display: flex;
    align-items:center;
}
.form-sec .form-tour .find-btn button{
    width: 100%;
    height: var(--p50);
    font-size: var(--p18);
    font-weight: bold;
    border-radius: var(--p30);
    color: var(--white);
    background-color: var(--lightblue);
    transition: 0.5s ease-in-out;
    border: 1px solid var(--lightblue);
    
}
/* ==============================form-sec-close========= */
.about-sec {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: var(--p50);
    padding: var(--p80) 0 var(--p50) 0;
    justify-items: center;
}
.about-left{
    width: 50%;
    height: 100%;
    border-radius: 10px;
}
.about-sec .about-left img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.about-sec .about-right{
    width: 50%;
    height: 100%;
    padding: var(--p50) 0;
}
.about-sec .about-right h1{
    font-size: var(--f30);
    color: var(--lightblue);
    text-transform: capitalize;
}
.about-sec .about-right #tick{
    width: 20px;
    height: 20px;
    font-size: var(--p10);
    color: var(--white);
    border-radius:50%;
    padding: 2px 4px;
    margin-right: var(--p10);
    background-color: var(--lightblue);
}
.about-sec .about-right #plan-head{
    font-size:var(--f35);
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: capitalize;
}
.about-sec .about-right .para{
    color: var(--grey);
    margin: var(--p20) 0;
    line-height: 30px;
    letter-spacing:1px;
}
.about-sec .about-right p{
    margin-top: var(--p15);
    font-size: var(--f15);
}
.about-sec .about-right a{
    text-decoration: none;
    display:block;
    width:180px;
    color: white;
    font-size: var(--f16);
    padding: var(--p15) 0;
    margin: var(--p50) 0;
    border-radius: var(--p30);
    text-align: center;
    background-color:var(--lightblue);
    font-weight: bold;
    transition: 0.5s ease-in-out;
    border: 1px solid var(--lightblue);
}
.about-sec .about-right a:hover,.main-heading a:hover,.form-sec .form-tour .find-btn button:hover{
    color: var(--lightblue);
    background-color: transparent;
}
/* ==========================features-sec=================== */

.features .feature-head {
    text-align: center;
}
.feature-head h1{
    font-size: var(--f40);
    color: var(--lightblue);
}
.feature-head p{
    font-size: var(--f40);
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--black);
    font-family:sans-serif;
}
/* =========================== */
.feature-slide{
    padding: 50px 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.feature-slide .slides{
    width: 350px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.15);
    overflow: hidden;
}
.feature-slide img{
    width: 100%;
    height: 100%;
    background-size: cover;
    vertical-align: middle;
    transition: 0.5s ease-in-out;
}
.feature-slide .slides .img-class{
    overflow: hidden;
}
.feature-slide .slides img:hover{
 transform: scale(1.1);
 cursor: pointer;
}
.data-class{
    padding: var(--p20) var(--p20);
}
.data-class ul{
    list-style: none;
    display: flex;
    color:rgb(230, 168, 11);
    gap: var(--p5);
    font-size: 12px;
}
.data-class ul .rating,p{
    color: grey;
    font-size: var(--f18);
}
.data-class .place a{
    color:black;
    font-size:22px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 10px 0;
    display: block;
}
.data-class .blue{
    color: var(--lightblue);
}
.data-class .Location{
    font-size: var(--f18);
    margin: 0 5px;
}
.data-class .dollor{
    margin: 15px 0;
    font-weight: bold;
}
.data-class .dollor .big-font{
    font-size: var(--f25);
    margin: 0 5px;
}
.data-class .Explore{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--f18);
}
.data-class .blue .fa-arrow-right{
    margin-left: 5px;
    color: green;
}
.slider-master{
    display: flex;
}
.feature-slide{
    animation: slider 10s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@keyframes slider {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-20%);
    }
    40%{
        transform: translateX(-40%);
    }
    60%{
        transform: translateX(-60%);
    }
    80%{
        transform:translateX(-80%);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* ============================== */